
.staff {
    font-family: 'Kumbh Sans';
    background-image: url("../../public/images/fishies.jpg");
    position:absolute;
    width: 100%;
    height: 2500px;
    background-position: top;
    background-size: 60% 100%;
    background-repeat:no-repeat;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr;
}

.staff .title {
    justify-self: center;
    padding: 25px;
    font-size: 18px;
    letter-spacing: 1.6px;
}

.staff .leftSide {
    grid-area: 1/1/2/2;
    background-image: linear-gradient(#e7f7f6, #02b6db, #0f2b46);
    display: grid;
}

.staff .rightSide {
    grid-area: 1/3/2/4;
    background-image: linear-gradient(#e7f7f6, #02b6db, #0f2b46);
    display: grid;
}

.staff .staffPictures {
    width: 250px;
    height: 250px;
}

.staff .picture {
    justify-self: center;
    margin-top: 20px;
}