.app {
  font-family: 'Kumbh Sans';
  background-image: url("../public/images/LighthouseBackground.jpg");
  position: fixed;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px 175px 1fr;
  }

  .app .title {
    font-family: 'Meddon';
    position: relative;
    padding: 30px;
    margin-left: 500px;
    font-size: 35px;
  }

  .app .pheader {
    position: relative;
    padding: 20px;
    margin-left: 100px;
    font-size: 18px;
    word-spacing: 5px;
    letter-spacing: 1.8px;
  }

  .app .practiceInfo {
    width: 1100px;
    word-spacing: 2px;
    line-height: 2;
    margin-left: 180px;
    text-indent: 50px;
  }